:focus {outline:none;}
::-moz-focus-inner {border:0;}
#main_game_movesDeco {width: 100%;}
#main_game .onyx-input-decorator {border: none}
.sprite-lambda { width: 16px !important; height: 16px !important;
	background: yellow;
}
#main_scroller_strategy_client > div {
	display: inline-block;
}
body,.onyx {
/*	background-color: #4C4C4C;*/
	background-color: #808080;
	color: black;
}

.lamin-left-box {
	background-color: #262626;
	box-shadow: 0 1px 3px #111111;
	color: #DDD;
	margin-right: 10px;
	padding: 5px;
	width: 90px;
}

.lamin-right-box {
	background-color: #262626;
	box-shadow: 0 1px 3px #111111;
	color: #DDD;
	margin-left: 10px;
	padding: 5px;
	width: 90px;
}



.help-key { padding-right: 10px; }